body {
  margin: 0;
}

@font-face {
  font-family: "Crimson_Pro"; /*Can be any text*/
  src: local("AirbnbCerealLight"), url("./fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf") format("truetype");
}